* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}

@font-face {
    font-family: "Caveat Bold";
    src: url(../assets/fonts/Caveat-Bold.ttf);
}
@font-face {
    font-family: "Caveat Regular";
    src: url(../assets/fonts/Caveat-Regular.ttf);
}
@font-face {
    font-family: "Gill Sans Italic";
    src: url(../assets/fonts/GillSans\ Italic.ttf);
}
@font-face {
    font-family: "Gill Sans Light";
    src: url(../assets/fonts/GillSans-Light.ttf);
}
@font-face {
    font-family: "Gill Sans";
    src: url(../assets/fonts/GillSans.ttf);
}
@font-face {
    font-family: "Lato Black";
    src: url(../assets/fonts/Lato-Black.ttf);
}
@font-face {
    font-family: "Lato Black Italic";
    src: url(../assets/fonts/Lato-BlackItalic.ttf);
}
@font-face {
    font-family: "Lato Bold";
    src: url(../assets/fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: "Lato Bold Italic";
    src: url(../assets/fonts/Lato-BoldItalic.ttf);
}
@font-face {
    font-family: "Lato Light";
    src: url(../assets/fonts/Lato-Light.ttf);
}
@font-face {
    font-family: "Lato Light Italic";
    src: url(../assets/fonts/Lato-LightItalic.ttf);
}
@font-face {
    font-family: "Lato Regular";
    src: url(../assets/fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: "Lato Thin";
    src: url(../assets/fonts/Lato-Thin.ttf);
}
@font-face {
    font-family: "Lato Thin Italic";
    src: url(../assets/fonts/Lato-ThinItalic.ttf);
}

$site-mint: "#A7E8BD";
$site-light-pink: "#FCBCB8";
$site-dark-pink:"#EFA7A7";
$site-yellow:"#FFD972";
$site-red: "#F25C54";